html, body {
    float: left;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}

* {
    padding: 0;
    margin: 0;
}

/* Menu */
aside {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #333645;
}

.user {
    position: relative;
    background-color: #a48ad4;
    padding: 20px 15px 15px 20px;
    min-height: 65px;
    margin-bottom: 30px;
}

.user img {
    float: left;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.user .username,
.user .location {
  position: absolute;
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.user .location {
    top: 55px;
    font-size: 14px;
    color: #d3c5e8;
}

.user .username {
    top: 30px;
}

nav ul li {
    float: left;
    list-style: none;
    width: 100%;
}

nav ul li.active a {
    color: #FFF;
}

nav ul li > a,
nav ul li > i {
    color: #98999e;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

nav ul li > a i {
    margin: -15px 10px;
}

nav ul li > a {
    display: block;
    padding: 20px 15px;
}

nav ul li:hover,
nav ul li.active a {
    background-color: #1e202c;
    color: #FFF;
}

/* Topbar */
.top {
    width: calc(100% - 250px);
    height: 100px;
    background-color: #fff;
    position: absolute;
    padding-left: 250px;
    border-bottom: 1px solid #e3e3e3;
}

.top-left > * {
    border-right: 1px solid #e3e3e3;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height: 100px;
}

.top-left {
    float: left;
    width: 70%;
}

.top-right {
    min-width: 29.3%;
    float: right;
}

.top-left .menu-collapse {
    float: left;
    display: block;
    width: 100px;
}

.top-left .menu-collapse i {
    display: block;
    font-size: 30px;
    color: #607D8B;
    padding: 35px;
}

.top-left .search {
    position: relative;
    width: calc(100% - 120px);
    float: left;
    display: block;
}

.top-left .search input {
    display: block;
    width: calc(100% - 80px);
    height: calc(100% - 20px);
    border: 0;
    padding: 10px 10px 10px 90px;
    color: #607D8B;
    border-right: 1px solid #e3e3e3;
}

.top-left .search i {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 30px;
    color: #607D8B;
}

.top-right .notifications {
    float: left;
}

.top-right .actions {
    float: right;
}

.top-right .notifications {
    padding: 0 30px;
}

.top-right .notification,
.top-right .action {
    float: left;
    position: relative;
    height: 100px;
}

.top-right .action:first-child {
    border-left: 1px solid #e3e3e3;
}

.top-right .action:last-child {
    border-right: 0;
}

.top-right .notification i,
.top-right .action i {
    z-index: 999;
    display: block;
    font-size: 20px;
    color: #9E9E9E;
    padding: 40px 20px;
}

.top-right .notification span {
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 30px;
    padding: 3px;
    width: 10px;
    text-align: center;
    border-radius: 200px;
    font-size: 9px;
    background-color: #009688;
    color: #FFF;
}

.top-right .action {
    border-right: 1px solid #e3e3e3;
}

.top-right .action i {
    padding: 40px 30px;
}

.top-right .action:hover i {
    background-color: #42A5F5;
    color: #FFF;
}

/* Main */
main {
    position: absolute;
    left: 270px;
    top: 110px;
    width: calc(100% - 290px);
    height: calc(100% - 110px);
}

.category {
    float: left;
    margin-top: 10px;
}

.category.hundred {
    width: 100%;
}

.category.fifty {
    width: 50%;
}

.category.thirtythree {
    width: 33.3%;
}

.category.sixtysix {
    width: 66.6%;
}

.category .title {
    padding: 10px 10px;
    font-size: 14px;
    margin-bottom: 5px;
}

.category .title span {
    color: #607D8B;
    font-weight: bold;
    text-transform: uppercase;
}

.category .title a {
    color: #000;
    visibility: hidden;
    float: right;
}

.category .title:hover a {
    visibility: visible;
}

.category .contents .container {
    padding: 0;
    margin: 0;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.category.thirtythree .contents div > .project {
    width: 33%;
    min-width: 160px;
    height: 160px;
}

.category.fifty .contents div > .project {
    width: 33%;
    min-width: 240px;
    height: 240px;
}

.category.sixtysix .contents div > .project {
    width: 33%;
    min-width: 330px;
    height: 330px;
}

.category.hundred .contents div > .project {
    width: 33%;
    min-width: 505px;
    height: 505px;
}

.project {
    position: relative;
    -webkit-align-self: flex-start;
    align-self: flex-start;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

    overflow: hidden;
    padding: 10px;
}

.project span {
    display: inline-block;
    position: absolute;
    bottom: 30px;
    left: 30px;

    font-size: 17px;
    color: #FFF;
}

.project img {
    height: 100%;
}

/* Modal */
.modal-backdrop {
    visibility: hidden;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #1e202c;
    opacity: 0.5;
}

.modal {
    visibility: hidden;
    position: relative;
    left: 40vw;
    top: 10vw;

    width: 30vw;
    height: 30vw;

    background-color: #fff;
}

/* On menu collapse */
/*aside,
main,
.top {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}*/

aside.small {
  width: 100px;
}

aside.small .user .username,
aside.small .user .location {
  display: none;
}

aside.small nav li a span {
  display: none;
}

aside.small nav li a {
  text-align: center;
}

aside.small nav li i {
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

main.small {
  left: 120px;
  width: calc(100% - 140px);
}

.top.small {
  width: calc(100% - 100px);
  padding-left: 100px;
}

/* Editable category */
.category.active .title {
  background-color: #fff;
  margin: 0 10px;
  padding: 5px;
}

.category.active input {
  width: 65%;
  border: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #e3e3e3;
  padding: 8px;
}

.category.active select {
  width: 25%;
  border: 0;
  background: 0;
  border: 1px solid #e3e3e3;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 7px;
}

.category.active select,
.category.active input {
  color: #424242;
      font-family: 'Roboto', sans-serif;
}

/* Global */
input:focus,
button:focus,
select:focus { outline: 0; }
button:hover { cursor: pointer; }
a, i { text-decoration: none; }
